@page "/speedgame"
@inject NavigationManager NavigationManager
@implements IAsyncDisposable
@using Microsoft.AspNetCore.SignalR.Client;
@using Speed.Shared.Models;
@using System
@using System.Collections
@using System.Text
@using System.Text.Json;



<PageTitle>Speed!</PageTitle>

<h3>Speed</h3>



@if (!isConnected) {
    <div class="input-group">
        <input @bind="username" class="form-control" placeholder="What's your name?">
        <button class="btn btn-primary form-control-append" @onclick="ConnectToHub">
            Connect!
        </button>

    </div>


} else {
    
    <textarea style="width: 75%; height: 300px;">
        @messages
    </textarea>

    <div class="input-group">
        <input @bind-value="userMessage" @bind-value:event="oninput" class="form-control">
        <button class="btn btn-primary form-group-append" @onclick="Send" disabled="@(!isConnected)"> Send!</button>
        
    </div>

    <br />
    <br />

    <button class="btn btn-primary form-group-append" @onclick="StartGame">Start Game!</button>
    <div>
        <img src="@currentCard" width="250px" height="400px"/>
    </div>

}


@code {

    private HubConnection? hubConnection;
    private string username = string.Empty;
    private string messages = string.Empty;
    private string userMessage = string.Empty;
    private static GameEngine gameEngine = new();   // The brains of the operation

    private static Deck? deck;

    private string currentCard = "card_back.png";

    /// <summary>
    /// Connects to the gamehub
    /// </summary>
    /// <returns></returns>
    private async Task ConnectToHub() {


        hubConnection = new HubConnectionBuilder().WithUrl(NavigationManager.ToAbsoluteUri("/gamehub")).Build();

        hubConnection.On<string, string>("ReceiveMessage", (user, message) => {
            var msg = $"{(string.IsNullOrEmpty(user) ? "" : user + ": ")} {message}";
            messages += msg + "\n";
            Console.Write(messages);

            StateHasChanged();
        });

        hubConnection.On<string, string>("ReceiveDeck", (user, deckStringJSON) => {
            var cardList = JsonSerializer.Deserialize<List<Card>>(deckStringJSON);

            if(deck is null) {
                deck = new Deck();
            }

            deck.setCards(cardList);

            deck.print();

            StateHasChanged();
        });

        await hubConnection.StartAsync();
    }

    /// <summary>
    /// Sends a message to all connected clients
    /// </summary>
    /// <returns></returns>
    private async Task Send() {
        if (hubConnection != null) {
            await hubConnection.SendAsync("SendMessage", username, userMessage);
            Console.WriteLine(userMessage);
            userMessage = string.Empty;
        }
    }

    /// <summary>
    /// Sends a deck of 
    /// </summary>
    /// <param name="deckStringJSON"></param>
    /// <returns></returns>
    private async Task SendDeck(string deckStringJSON) {
        if (hubConnection != null) {
            if(deck is not null){
                await hubConnection.SendAsync("SendDeck", username, deckStringJSON);
                Console.WriteLine("Sent Deck!");
            }

        }
    }

    public bool isConnected => hubConnection?.State == HubConnectionState.Connected;

    /// <summary>
    /// Used in signalR communication
    /// </summary>
    /// <returns></returns>
    public async ValueTask DisposeAsync() {
        if (hubConnection != null) {
            await hubConnection.DisposeAsync();
        }
    }

    /// <summary>
    /// Creates a deck and sends that deck to the connected clients;
    /// Serializes the deck as JSON for passing
    /// </summary>
    //public async void createdeck() {
    //    deck = new Deck();
    //    deck.BuildDeck();
    //    deck.Shuffle();

    //    var deckStringJSON = JsonSerializer.Serialize(deck);

    //    await SendDeck(deckStringJSON);

    //}

    /// <summary>
    /// Prints out the deck of cards
    /// </summary>
    public void printDeck() {

        if (GameEngine.Deck is not null) {
            GameEngine.Deck.print();
        } else {
            Console.WriteLine("The deck null");
        }
    }

    public async void StartGame()
    {

        deck = new();
        deck.BuildDeck();

        var deckStringJSON = JsonSerializer.Serialize(deck);

        await SendDeck(deckStringJSON);


    }

    /// <summary>
    /// Used for printing a card to the console while troubleshooting
    /// </summary>
    public void AssignCardFace(ref Card card)
    {
        currentCard = card.ToString();
    }

}




