@page "/hangman"

<PageTitle>Hangman</PageTitle>
<html lang="en">
    <body style="margin-top: 1rem; background-color: gray">
        <div class="card mx-auto" style="width: 25%;">
            <h4 class="text-center" style="margin-top: .25rem">Hangman</h4>
        </div>
    </body>
</html>